includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
        - examples
        - tests
    phpVersion: 80200
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
